<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kindlereport.mapper.CommentMapper">
	
	<insert id="insertComment" parameterType="kindlereport.model.Comment" statementType="PREPARED" timeout="20">
		insert into COMMENT (asin,
							registerDateTime,
							content,
							ipAddr)
		values (#{asin},
				#{registerDateTime},
				#{content},
				#{ipAddr})
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>
	
	<select id="selectComment" resultType="kindlereport.model.Comment">
		select
			*
		from
			COMMENT
		where
			asin = #{asin}
		order by
			id desc
	</select>
	
	<select id="selectCommentById" resultType="kindlereport.model.Comment">
		select
			*
		from
			COMMENT
		where
			id = #{id}
	</select>
	
</mapper>
