<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kindlereport.mapper.CommentMapper">
	
	<insert id="insertComment" parameterType="kindlereport.model.Comment" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO COMMENT
			(
				asin,
				registerDateTime,
				content,
				ipAddr
			)
		VALUES
			(
				#{asin},
				#{registerDateTime},
				#{content},
				#{ipAddr}
			)
	</insert>
	
	<select id="selectComment" resultType="kindlereport.model.Comment">
		SELECT
			*
		FROM
			COMMENT
		WHERE
			asin = #{asin}
		ORDER BY
			id DESC
	</select>
	
	<select id="selectCommentById" resultType="kindlereport.model.Comment">
		SELECT
			*
		FROM
			COMMENT
		WHERE
			id = #{id}
	</select>
	
</mapper>
