<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kindlereport.mapper.TagMapper">
	
	<insert id="insertTag" parameterType="kindlereport.model.Tag" statementType="PREPARED" timeout="20">
		insert into tag (name) values (#{name})
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT @@IDENTITY
		</selectKey>
	</insert>
	
	<insert id="insertTagMap" parameterType="kindlereport.model.TagMap" statementType="PREPARED" timeout="20">
		insert into tagmap (asin, tag_id) values (#{asin}, #{tagId})
	</insert>
	
	<select id="selectTagsByAsin" parameterType="java.lang.String" resultType="kindlereport.model.Tag">
		select
			*
		from
			tag t INNER JOIN tagmap m ON t.id = m.tag_id
		where
			m.asin = #{asin}
		order by
			t.id
	</select>
	
	<select id="selectTagById" parameterType="int" resultType="kindlereport.model.Tag">
		select
			*
		from
			tag
		where
			id = #{id}
	</select>
	
	<select id="selectTagListById" resultType="kindlereport.model.Tag">
		select
			*
		from
			tag
		where
			id in
		<foreach item="id" index="index" collection="list" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
	
	<select id="selectTagByName" parameterType="java.lang.String" resultType="kindlereport.model.Tag">
		select
			*
		from
			tag
		where
			name = #{name}
	</select>
	
	<delete id="deleteTagMap" parameterType="kindlereport.model.TagMap" statementType="PREPARED" timeout="20">
		delete from tagmap where asin = #{asin} and tag_id = #{tagId}
	</delete>
	
	<select id="countTagMap" resultType="int">
		select
			count(*)
		from
			tagmap
		where
			tag_id = #{tagId}
	</select>
	
	<delete id="deleteTag" parameterType="int" statementType="PREPARED" timeout="20">
		delete from tag where id = #{id}
	</delete>
	
	<select id="selectTagByNameLike" parameterType="kindlereport.model.ReceiveTag" resultType="kindlereport.model.Tag">
		select
			*
		from
			tag T
		where
			name like #{name}
			and exists (select
							'X'
						from
							tagmap M
						where
							M.tag_id = T.id
						<foreach item="id" index="index" collection="tagIdList">
							and exists (select 'X' from tagmap M2 where M2.asin = M.asin and M2.tag_id = #{id})
						</foreach>
						)
		<foreach item="id" index="index" collection="tagIdList">
			and not exists (select 'X' from tag T2 where T2.id = T.id and T2.id = #{id})
		</foreach>
		order by
			name
		Limit 10
	</select>
	
</mapper>
