
#dateList .tile {
	border: 3px solid #eeeeee;
	background: #ffffff;
	border-radius: 12px 12px 12px 12px;
	margin: 0px 0px 0px 0px;
	padding: 7px 7px 7px 7px;
}

#dateList .tile .title{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F8F8F8;
}

#dateList .tile .mythumbnail{
	display: block;
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#dateList .tile .mythumbnail img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

#dateList .releaseDate{
	text-align: left;
	background-color: #FFFFFF;
	word-wrap: break-word;
	border-radius: 5px;
	text-align: center;
}
 
@media screen and (min-width : 1024px) {
	#dateList .releaseDate{
		font-size: 200%;
	}
}

#dateList #today{
	color: #ff0000;
}

#dateList [class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}



#mainrow .tile {
	border: 3px solid #eeeeee;
	background: #ffffff;
	border-radius: 12px 12px 12px 12px;
	margin: 0px 0px 0px 0px;
	padding: 7px 7px 7px 7px;
}

#mainrow .pagenumber {
	font-size: 150%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mainrow .tile .title{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F8F8F8;
}

#mainrow .tile .releaseDate{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F8F8F8;
}

#mainrow .tile .mythumbnail{
	display: block;
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#mainrow .tile .mythumbnail img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

#mainrow div[class*="-12"] .tile .mythumbnail{
	display: inline-block;
	border: 0px;
	padding: 0px;
}
#mainrow div[class*="-12"] .tile .mythumbnail img{
	max-width: 100px;
	height: auto;
}
#mainrow div[class*="-12"] .tile .info{
	display: inline-block;
	position: absolute;
}
#mainrow div[class*="-12"] .tile .title{
}
#mainrow div[class*="-12"] .tile .releaseDate{
}

#mainrow [class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

#tileHeader {
	background: #ffffff;
	border-radius: 12px 12px 12px 12px;
	margin: 0px 0px 0px 0px;
	border: 3px solid #eeeeee;
	padding: 7px 7px 7px 7px;
}

#list-btn-group {
}

#list-dropdown {
}


#detail-tag-grid {
	border: 3px solid #eeeeee;
	background: #ffffff;
	border-radius: 0px 0px 12px 12px;
	padding: 10px 10px 10px 10px;
}


#detail-title-grid {
	border: 3px solid #eeeeee;
	background: #ffffff;
	border-radius: 12px 12px 0px 0px;
	padding: 10px 10px 10px 10px;
}

#detail-img-grid {
	border: 3px solid #eeeeee;
	background: #ffffff;
	border-radius: 0px 0px 12px 12px;
	padding: 7px 7px 7px 7px;
}

#detail-comment-grid {
	border: 3px solid #eeeeee;
	background: #ffffff;
	border-radius: 0px 0px 12px 12px;
	padding: 10px 10px 10px 10px;
}

#detail-comment-grid #detail-p-grid p{
	margin: 0 0 0px;
}

#detail-comment-grid #detail-p-grid{
	margin: 0 0 10px;
}

#detail-comment-grid #detail-scroll-grid{
	overflow: auto;	
}

.detailComment {
	background-color: #F8F8F8;
	border-radius: 5px 5px 5px 5px;
	border-width: 0 1px 1px 0;
	border-color: #e8e8e8;
	border-style: solid;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	text-align: left;
	margin: 0 0 5px 0;
	position: relative;
	padding: 3px 10px 6px 10px;
}

body {
	background-color: #eeeeee;
}

#detail #title {
	font-size: 208.3%;
	text-align: left;
	background-color: #F8F8F8;
}

#detail #releaseDate {
	background-color: #F8F8F8;
	margin-right: 20px;
}

#detail #author {
	background-color: #F8F8F8;
	margin-right: 20px;
}

#detail #publisher {
	background-color: #F8F8F8;
}

#detail #insertTime {
	background-color: #F8F8F8;
	margin-right: 20px;
}
#detail #updateTime {
	background-color: #F8F8F8;
	margin-right: 20px;
}
#detail #deleteTime {
	background-color: #F8F8F8;
}

#detail #content {
	font-size: 108.3%;
	color: #333;
	line-height: 150%;
	background-color: #F8F8F8;
	margin-top: 10px;
	margin-bottom: 0px;
}

#detail #tagList .detailTag {
	padding-top: 5px;
	padding-bottom: 2px;
	display: inline-block;
}

#detail #tagList .detailLabel {
	font-size: 103%;
}

#detail #tagList .tagDelete {
	margin-left: -6px;
	margin-top: -4px;
	padding: 2px 6px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
}

#detail #tagform {
	margin-top: 5px;
}

#detail #tagInput {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 2px 7px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#detail #tagButton {
	background-color: #fff;
	border: 1px solid transparent;
	border-color: #ccc;
	padding: 2px 7px;
	margin-left: -6px;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#detail [class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

#detail .row {
	margin-right: 0px;
	margin-left: 0px;
}


#front .tile {
	border: 0px solid #eeeeee;
	background: #ffffff;
	border-radius: 0px;
	margin: 3px;
	padding: 0px;
}

#front .tile .title{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F8F8F8;
}

#front .tile .mythumbnail{
	display: block;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#front .tile .mythumbnail img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

#front .tileGroup {
	border: 1px solid #000000;
	background: #ffffff;
	border-radius: 12px 12px 12px 12px;
	margin: 1px 1px 1px 1px;
	padding: 7px 7px 7px 7px;
}

#front [class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

#front .row {
	margin-right: 0px;
	margin-left: 0px;
}

#front {
	font-size: 10px;
}

@media screen and (min-width : 1024px) {
	#front {
		font-size: 100%;
	}
}

.container {
	padding-right: 0px;
	padding-left: 0px;
}


.tile {
	font-size: 10px;
}

@media screen and (min-width : 1024px) {
	.tile {
		font-size: 120%;
	}
}