
<div id="front">
	<div class="container">
		<div class="col-md-4 col-xs-6">
			<div id="newRegist">
				<div class="tileGroup">
					<label>新着(最新５件)</label>
					<a th:href="'/' + ${LIST_PAGE_URL}">>>もっと見る</a>
					<div class="row">
						<div th:each="item : ${newRegistList}" th:remove="tag">
							<div class="col-md-6 col-xs-12">
								<div class="tile">
									<a class="mythumbnail" th:value="@{'/items/' + ${item.asin}}" >
										<img class="img" th:src="${item.mediumImage}" th:if="${item.mediumImage} != '' and ${item.mediumImage} != null" alt="" />
										<img class="img" src="/img/noimage_s.png"     th:if="${item.mediumImage} == '' or ${item.mediumImage} == null" alt="" />
									</a>
									<p class="title" th:text="${item.title}" />
								</div>
							</div>
						</div>
					</div>
					<a th:href="'/' + ${LIST_PAGE_URL}">>>もっと見る</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-6">
			<div id="todayRelease">
				<div class="tileGroup">
					<label>今日の発売</label>
					<a th:href="'/' + ${DATELIST_PAGE_URL}">>>もっと見る</a>
					<div class="row">
						<div th:each="item : ${todayReleaseList}" th:remove="tag">
							<div class="col-md-6 col-xs-12">
								<div class="tile">
									<a class="mythumbnail" th:value="@{'/items/' + ${item.asin}}" >
										<img class="img" th:src="${item.mediumImage}" th:if="${item.mediumImage} != '' and ${item.mediumImage} != null" alt="" />
										<img class="img" src="/img/noimage_s.png"     th:if="${item.mediumImage} == '' or ${item.mediumImage} == null" alt="" />
									</a>
									<p class="title" th:text="${item.title}" />
								</div>
							</div>
						</div>
					</div>
					<a th:href="'/' + ${DATELIST_PAGE_URL}">>>もっと見る</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="tileGroup">
				<a class="twitter-timeline" href="https://twitter.com/eComic_new" data-widget-id="723125531160403968">@eComic_newさんのツイート</a>
			</div>
		</div>
	</div>
</div>

<script>
function twitter(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){
    js=d.createElement(s);
    js.id=id;
    js.src=p+"://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);
  }
}
init();
function init(){
	twitter(document,"script","twitter-wjs");
}
function pageLoad(){}
</script>

<script>
/*<![CDATA[*/
$(function(){
	var colnum = 2;
	$(window).load(function(){
	 	$('#newRegist .mythumbnail').tile(colnum);
	 	$('#newRegist .title').tile(colnum);
	 	$('#newRegist .tile').tile(colnum);
	 	$('#todayRelease .mythumbnail').tile(colnum);
	 	$('#todayRelease .title').tile(colnum);
	 	$('#todayRelease .tile').tile(colnum);
	});
});
/*]]>*/
</script>

