<div th:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="${kindle.title}" />
				<p th:text="${kindle.releaseDate}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<a th:href="${kindle.detailPageURL}" target="_blank" class="thumbnail"> <img
					th:src="${kindle.largeImage}" alt="" /></a>
			</div>
			<div class="col-md-4">
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
				<li>comment</li>
			</div>
		</div>
	</div>
</div>
