<div th:fragment="content" th:remove="tag">
	<div class="container" id="detail">
		<div class="row">
			<div class="col-md-12">
				<div id="detail-title-grid">
					<p id="title" th:text="${kindle.title}" />
					<span id="releaseDate" th:text="'発売日：' + ${kindle.releaseDate}" />
					<span id="author" th:text="'著者：' + ${kindle.author}" />
					<span id="publisher" th:text="'出版社：' + ${kindle.publisher}" />
					<br />
					<span id="insertTime" th:text="'初回登録日時：' + ${#dates.format(kindle.insertTime, 'yyyy/MM/dd HH:mm')}" />
					<span id="updateTime" th:text="'最終更新日時：' + ${#dates.format(kindle.updateTime, 'yyyy/MM/dd HH:mm')}" />
					<span id="deleteTime" th:text="Amazonページ削除済み" th:if="${kindle.deleteTime} != null" />
					<p id="content" th:utext="${kindle.content}" />
					<input type="hidden" id="asin" th:name="${kindle.asin}" th:value="${kindle.asin}" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="detail-tag-grid">
					<a id="tagRegist" href="javascript:void(0);">タグ登録</a>
					<div id="tagList">
						<a th:href="'/' + ${LIST_PAGE_URL} + '?tagId=' + ${tag.id}" class="detailTag" th:id="'detailTag' + ${tag.id}" th:each="tag : ${tagList}">
							<span class="detailLabel label label-warning glyphicon glyphicon-tag" th:text="${tag.name}" aria-hidden="false" />
							<button class="tagDelete btn btn-default btn-xs" type="button" style="display: none;" th:value="${tag.id}">
								<span class="glyphicon glyphicon-remove" aria-hidden="false" />
							</button>
						</a>
					</div>
					<form id="tagform">
						<div id="tag-input-group" style="display: none;">
							<input id="tagInput" type="text" class="validate[required,maxSize[50]]" placeholder="Input tag ..." />
							<button id="tagButton" type="submit">登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div id="detail-img-grid">
					<a th:href="${kindle.detailPageURL}" target="_blank" class="thumbnail">
						<img id="detailImg" th:src="${kindle.largeImage}" th:if="${kindle.largeImage} != ''" alt="" />
						<img id="detailImg" src="/img/noimage.png" th:if="${kindle.largeImage} == ''" alt="" />
					</a>
				</div>
			</div>
			<div class="col-md-4">
				<div id="detail-comment-grid">
					<div id="detail-p-grid">
						<p>コメント</p>
					</div>
					<div id="detail-scroll-grid">
						<div class="detailComment" th:each="comment : ${commentList}">
							<div th:text="${#dates.format(comment.registerDateTime, 'yyyy/MM/dd HH:mm')}" />
<!-- 							<div th:text="${comment.id}" /> -->
							<div th:text="${comment.content}" />
						</div>
					</div>
					<div id="detail-input-grid">
						<form id="form">
							<div class="input-group">
								<input id="message" type="text" class="form-control validate[required,maxSize[60]]" placeholder="Input comment ..." />
									<span class="input-group-btn">
									<button type="submit" class="btn btn-default">コメントする</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
